<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>{{hasala.details.name}}</h1>
    </div>
    <div class="col-sm-2 col-sm-offset-2">
      <a ui-sref="hasalaEdit({ hasalaId: hasala.details.id, hasala: hasala.details })" class="btn btn-primary btn-block" ng-show="hasala.details.isEditable">Edit</a>
    </div>
    <div class="col-sm-2">
      <a class="btn btn-danger btn-block" ui-sref="hasalaTerminate({ hasalaId: hasala.details.id, hasalaName: hasala.details.name })">Terminate</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-8">
          <div class="progress-container">
            <uib-progressbar class="" value="hasala.details.donation" type="primary">
              {{hasala.details.donation}}%
            </uib-progressbar>
            <p class="pull-right"><small>EGP</small> {{hasala.details.target}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
        <p>Description:</p>
        <p>{{hasala.details.description}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p>Created: {{hasala.getDate(hasala.details.dateCreated)}}</p>
          <p>Expires: {{hasala.getDate(hasala.details.deadline)}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="{{hasala.details.photo}}" alt="{{hasala.details.name}}" class="img-thumbnail img-responsive pull-right">
    </div>
  </div>

  <div class="row">
    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel-default" is-open="true">
        <uib-accordion-heading>
          Stats <fa name="expand" class="pull-right"></fa>
        </uib-accordion-heading>
        <div class="container-fluid stats">
          <div class="row">
            <div class="col-sm-3">
              <p><span>{{hasala.details.nFollowers}}</span> Followers</p>
            </div>
            <div class="col-sm-3">
              <p><span>{{hasala.details.nShares}}</span> Shares</p>
              <p><span>{{hasala.details.nViews}}</span> Views</p>
            </div>
            <div class="col-sm-3">
              <p><span>{{hasala.details.nDoners}}</span> Doners</p>
              <p><span>{{hasala.details.nDonation}}</span> Donation</p>
            </div>
            <div class="col-sm-3">
              <p><span>{{hasala.details.avgDonationsTime}}</span> Average don. per time</p>
              <p><span>{{hasala.details.avgDonationsUser}}</span> Average don. per user</p>
            </div>
          </div>
        </div>
      </div>

      <div uib-accordion-group class="panel-default" is-open="true">
        <uib-accordion-heading>
          Milestones <fa name="expand" class="pull-right"></fa>
          <p class="pull-right"><strong>{{hasala.details.nMilestonesDone}}</strong> out of </span>{{hasala.details.nMilestones}} completed</span></p>
        </uib-accordion-heading>
        <div class="container-fluid">
          <div ng-repeat="milestone in hasala.details.milestones">
            <div class="row milestones">
              <div class="col-sm-1 order">{{$index+1}}</div>
              <div class="col-sm-6">
                <h5>{{milestone.title}}</h5>
                <p>{{milestone.description}}</p>
              </div>
              <div class="col-sm-2 col-sm-offset-2">
                <h4>Target: EGP <strong>{{milestone.target}}</strong></h4>
                <div ng-show="milestone.done" class="bg-success">Milestone Achieved</div>
                <div ng-show="!milestone.done">
                  <button class="btn btn-primary btn-block" ng-click="hasala.openMilestoneModal('','',$index)">Mark as Achieved</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div uib-accordion-group class="panel-default" is-open="true">
        <uib-accordion-heading>
          Follow Ups <fa name="expand" class="pull-right"></fa>
        </uib-accordion-heading>
        <div class="container-fluid">
          <a ui-sref="followupNew({ hasalaId: hasala.details.id, hasala: hasala.details })" class="btn btn-success">Add Follow up</a>
          <div ng-repeat="update in hasala.details.updates">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 updates">
                <div class="row">
                  <div class="col-sm-8"><h3>{{update.title}}</h3></div>
                  <div class="col-sm-4"><p>{{hasala.getDate(update.timestamp)}}</p></div>
                </div>
                <div ng-if="update.photo">
                  <div class="col-sm-12">
                    <img src="{{update.photo}}" alt="{{update.title}}" class="img-thumbnail img-responsive">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><p>{{update.caption}}</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </uib-accordion>
  </div>

</div>


<script type="text/ng-template" id="modalContent.html">
  <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Mark Milestone as achieved</h3>
  </div>
  <div class="modal-body" id="modal-body">
    Are you sure you want to mark milestone as achieved?
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Yes</button>
      <button class="btn btn-danger" type="button" ng-click="$ctrl.cancel()">Cancel</button>
  </div>
</script>

