<div class="container hasalat-container">

  <div class="row">
    <div class="col-sm-6">
      <h1> {{hasalat.ngo}}'s hasalat </h1>
    </div>
    <div class="col-sm-2 col-sm-offset-4">
      <a href="#" class="btn btn-success btn-block">New Hasala</a>
    </div>
  </div>

  <div class="row">
    <div ng-repeat="hasala in hasalat.list">
      <div class="col-sm-4">
        <div class="container-fluid  __container">
          <div class="col-sm-12">
            <a ui-sref="hasala({ hasalaId: hasala.id })"><img src="{{hasala.photo}}" alt="{{hasala.name}}" class="img-thumbnail img-responsive"></a>
            <h2><a ui-sref="hasala({ hasalaId: hasala.id })">{{hasala.name}}</a></h2>
          </div>
          <div class="col-sm-12">
            <p>Status: {{hasala.status}}</p>
            <div class="progress-container">
              <uib-progressbar class="" value="hasala.donation" type="primary">
                {{hasala.donation}}%
              </uib-progressbar>
              <p class="pull-right"><small>EGP</small> {{hasala.target}}</p>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="btn-group " ng-if="!hasala.isTerminated">
              <a ui-sref="hasala({ hasalaId: hasala.id })" class="btn btn-primary">View</a>
              <a href="" class="btn btn-success">Add Followup</a>
              <a ui-sref="hasalaTerminate({ hasalaId: hasala.id, hasalaName: hasala.name })" class="btn btn-danger">Terminate</a>
            </div>
            <div class="isTerminated" ng-if="hasala.isTerminated">
              Pending termination
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
