<div class="container">
  <div class="row">
    <h1>Edit Profile</h1>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <form name="ngoEditCtl.form" ng-submit="ngoEditCtl.edit(ngoEditCtl.ngoData)">

        <div class="form-group">
         <label>NGO Name</label>
         <input type="text" name="" value="ngoEditCtl.ngoData.name" ng-model="ngoEditCtl.ngoData.name" class="form-control" required="">
        </div>

        <div class="form-group">
         <label>Description</label>
         <textarea rows="5" ng-model="ngoEditCtl.ngoData.description" class="form-control" required=""></textarea>
        </div>

        <div class="form-group">
         <label>Cover photo</label>
         <input type="file" name="">
        </div>

        <div class="form-group">
         <label>Logo</label>
         <input type="file" name="">
        </div>

        <div class="form-group">
         <label>Story</label>
         <ng-quill-editor ng-model="ngoEditCtl.ngoData.story"></ng-quill-editor>
        </div>

        <div class="form-group">
         <label>categories</label>
         <div ng-repeat="category in ngoEditCtl.ngoData.categories track by $index" class="row">
            <div class="col-sm-3">
              <input type="text" name="" value="category" ng-model="ngoEditCtl.ngoData.categories[$index]" class="form-control">
            </div>
            <div class="col-sm-3">
              <a href="" ng-click="ngoEditCtl.deleteCategory($index)" class="text-danger">Delete <fa name="trash"></fa></a>
            </div>
         </div>
         <a href="" ng-click="ngoEditCtl.addCategory()">Add Category <fa name="plus"></fa></a>
        </div>

        <button type="submit" class="btn btn-primary">Edit <fa name="pencil"></fa> </button>
      </form>
    </div>
  </div>
</div>



